*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif
}
body{
    background-color: #fff;
}
header{
    display: flex;
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 120px;
    height: 100%;
}
nav ul{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items:center;
}
nav ul li{
    margin: 10px;
}
nav ul li a{
    text-decoration: none;
    color:
    font-size:
    font-weight:
}
.icon{
    display:
}
.icon div{
    margin-right:
    
}